[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sridhark779
[access "refs/for/refs/*"]
	read = group user/sridhark779
	push = group user/sridhark779
	label-Code-Review = -2..+2 group user/sridhark779
	label-Verified = -1..+1 group user/sridhark779
	rebase = group user/sridhark779
	removeReviewer = group user/sridhark779
	submit = group user/sridhark779
[access "refs/heads/*"]
	read = group user/sridhark779
	create = group user/sridhark779
	push = +force group user/sridhark779
	pushMerge = group user/sridhark779
[access "refs/tags/*"]
	push = group user/sridhark779
	push = +force group user/sridhark779
